## Name: Mitul Patel
## Course: Data Science
## Sem: 7

In [201]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [202]:
# Loading the Train Data
training_data = pd.read_csv("C:\\Users\\gk\\Downloads\\train-data.csv")
training_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [203]:
# Loading Test Data
testing_data = pd.read_csv("C:\\Users\\gk\\Downloads\\test-data.csv")
testing_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,1229,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN
1230,1230,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN
1231,1231,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN
1232,1232,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN
1233,1233,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN

In [204]:
# Removing unnecessary columns
train_data = training_data.drop(["Unnamed: 0", "New_Price"], axis=1)
test_data = testing_data.drop(["Unnamed: 0", "New_Price"], axis=1)

In [205]:
train_data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50

In [206]:
test_data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0
1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0
2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0
3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0
4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0
...,...,...,...,...,...,...,...,...,...,...,...
1229,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0
1230,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0
1231,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0
1232,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0
1233,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0

In [207]:
# Adding a flag column to differentiate train and test datasets
train_data["Flag"] = 1
test_data["Flag"] = 0

In [208]:
# Combining train and test data for preprocessing
combined_data = pd.concat([train_data, test_data])

In [209]:
# Preprocessing the data
combined_data["Mileage"] = combined_data["Mileage"].str.extract("(\d+\.\d+|\d+)").astype(float)
combined_data["Engine"] = combined_data["Engine"].str.extract("(\d+)").astype(float).fillna(0).astype(int)
combined_data["Power"] = combined_data["Power"].str.extract("(\d+\.\d+|\d+)").astype(float)

In [210]:
# Converting categorical columns to numerical using LabelEncoder
label_encoder = LabelEncoder()
categorical_cols = ["Name", "Location", "Fuel_Type", "Transmission", "Owner_Type"]
for col in categorical_cols:
    combined_data[col] = label_encoder.fit_transform(combined_data[col])

In [211]:
# Performing one-hot encoding on the combined dataset
onehot_encoder = OneHotEncoder(sparse = False)
encoded_data = onehot_encoder.fit_transform(combined_data)

In [212]:
# Splitting the combined data back into train and test datasets
X_train = encoded_data[combined_data["Flag"] == 1, :-1]
y_train = encoded_data[combined_data["Flag"] == 1, -1]
X_test = encoded_data[combined_data["Flag"] == 0, :-1]

In [213]:
# Filling missing values with 0
X_train = np.nan_to_num(X_train)
y_train = np.nan_to_num(y_train)
X_test = np.nan_to_num(X_test)

In [214]:
# Scalling the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [215]:
# Building the ANN model with ReLU activation
model = Sequential()
model.add(Dense(128, activation = "relu", input_dim = X_train_scaled.shape[1]))
model.add(Dense(64, activation = "relu"))
model.add(Dense(1, activation = "relu"))

In [216]:
# Compiling the model
model.compile(optimizer = "adam", loss="mean_squared_error")
# model.compile(optimizer = "adam", loss = "mean_absolute_error")

In [217]:
# Train the model
model.fit(X_train_scaled, y_train, epochs=30, batch_size=600)

Epoch 1/30
11/11 [==============================] - 1s 49ms/step - loss: 0.6132
Epoch 2/30
11/11 [==============================] - 1s 46ms/step - loss: 0.6513
Epoch 3/30
11/11 [==============================] - 1s 47ms/step - loss: 0.3917
Epoch 4/30
11/11 [==============================] - 1s 46ms/step - loss: 0.2276
Epoch 5/30
11/11 [==============================] - 1s 44ms/step - loss: 0.1912
Epoch 6/30
11/11 [==============================] - 1s 49ms/step - loss: 0.1878
Epoch 7/30
11/11 [==============================] - 1s 47ms/step - loss: 0.1679
Epoch 8/30
11/11 [==============================] - 1s 48ms/step - loss: 0.1668
Epoch 9/30
11/11 [==============================] - 1s 47ms/step - loss: 0.1634
Epoch 10/30
11/11 [==============================] - 1s 57ms/step - loss: 0.1546
Epoch 11/30
11/11 [==============================] - 1s 51ms/step - loss: 0.1474
Epoch 12/30
11/11 [==============================] - 1s 50ms/step - loss: 0.1443
Epoch 13/30
11/11 [==============================] - 1s 48ms/step - loss: 0.1428
Epoch 14/30
11/11 [==============================] - 1s 52ms/step - loss: 0.1440
Epoch 15/30
11/11 [==============================] - 1s 49ms/step - loss: 0.1466
Epoch 16/30
11/11 [==============================] - 1s 54ms/step - loss: 0.1450
Epoch 17/30
11/11 [==============================] - 1s 46ms/step - loss: 0.1434
Epoch 18/30
11/11 [==============================] - 1s 51ms/step - loss: 0.1409
Epoch 19/30
11/11 [==============================] - 1s 54ms/step - loss: 0.1405
Epoch 20/30
11/11 [==============================] - 1s 60ms/step - loss: 0.1399
Epoch 21/30
11/11 [==============================] - 1s 58ms/step - loss: 0.1406
Epoch 22/30
11/11 [==============================] - 1s 57ms/step - loss: 0.1410
Epoch 23/30
11/11 [==============================] - 1s 54ms/step - loss: 0.1411
Epoch 24/30
11/11 [==============================] - 1s 51ms/step - loss: 0.1406
Epoch 25/30
11/11 [==============================] - 1s 51ms/step - loss: 0.1406
Epoch 26/30
11/11 [==============================] - 1s 48ms/step - loss: 0.1404
Epoch 27/30
11/11 [==============================] - 1s 66ms/step - loss: 0.1404
Epoch 28/30
11/11 [==============================] - 1s 74ms/step - loss: 0.1413
Epoch 29/30
11/11 [==============================] - 1s 64ms/step - loss: 0.1407
Epoch 30/30
11/11 [==============================] - 1s 58ms/step - loss: 0.1413

In [218]:
# Predicting on the test data
predictions = model.predict(X_test_scaled)

39/39 [==============================] - 0s 4ms/step

In [219]:
# Printing the predicted prices
print(predictions)

[[0.6797353 ]
 [0.8734573 ]
 [0.8453655 ]
 ...
 [0.7675028 ]
 [0.8208777 ]
 [0.82842696]]